.buttonDelete {
    width: fit-content;
    height: fit-content;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    padding: 5px 12px;
    align-self: center;
    border: 1px solid rgba(128, 128, 128, 0.445);
    background-color: #d10000;
    color: white;
    border-radius: 7px;
    font-size: 14px;
    transition: all .3s ease-in-out;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.buttonDelete:hover {
    background-color:#741b1b;;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}