.btnWeekBlue {
  background-color: #dd4924;
  color: white;
  width: fit-content;
  height: fit-content;
  padding: 5px 12px;
  border: 1px solid rgb(134, 134, 134, 0.39);
  border-right: 0px;
  font-size: 12px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -ms-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
}

.btnDayBlue {
  background-color: #dd4924;
  color: white;
  width: fit-content;
  height: fit-content;
  font-size: 12px;
  padding: 5px 12px;
  border: 1px solid rgba(134, 134, 134, 0.274);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -ms-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
}

.calendarContainer {
  display: flex;
  width: 75vw;
  box-shadow: 7px 10px 25px 1px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 7px 10px 25px 1px rgba(0, 0, 0, 0.16);
  border-bottom-right-radius: 12px;
  border-top-left-radius: 12px;
  height: fit-content;
  min-height: 50vh;
}
.scheduleCalendarContainer {
  display: flex;
  width: 100%;
  box-shadow: 7px 10px 25px 1px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 7px 10px 25px 1px rgba(0, 0, 0, 0.16);
  border-bottom-right-radius: 12px;
  border-top-left-radius: 12px;
  height: fit-content;
  min-height: 50vh;
}

.btnWeek {
  background-color: white;
  color: black;
  width: fit-content;
  height: fit-content;
  padding: 5px 12px;
  border: 1px solid rgb(134, 134, 134, 0.39);
  border-right: 0px;
  font-size: 12px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -ms-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
}

.btnDay {
  background-color: white;
  color: black;
  width: fit-content;
  height: fit-content;
  padding: 5px 12px;
  font-size: 12px;
  border: 1px solid rgba(134, 134, 134, 0.39);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -ms-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
}

.btnAddAll {
  background-color: #dd4924;
  color: white;
  height: fit-content;
  padding: 5px 12px;
  font-size: 13px;
  border: 1px solid rgba(134, 134, 134, 0.39);
  border-radius: 8px;
  border-radius: 8px;
  transition: all ease-in-out 0.3s;
}

.btnSelected {
  transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -ms-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  background-color: #dd4924;
  color: white;
}

.btnDayBlue:active {
  background-color: #ac3b1f;
}

.calendarComponent {
  width: 70vw !important;
  height: 65vh !important;
}

.calendarComponentSchedule {
  width: 100% !important;
  height: 65vh !important;
}

.scheduleCalendarComponent {
  width: 100% !important;
  height: 50vh;
}

.dropmenuCont {
  z-index: 1000;
  background-color: #dd4924;
  border-radius: 12px;
  transform: translateY(20px);
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  -ms-transform: translateY(20px);
  -o-transform: translateY(20px);
  box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 7px 10px 25px 1px rgba(0, 0, 0, 0.25);
}

.dropmenu {
  padding: 15px 15px;
  color: white;
  display: flex;
  gap: 9px;
  font-size: 13px;
  z-index: 2000;
}

.dropmenuCont div:first-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.dropmenuCont div:last-child {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}

.dropmenuCont::before {
  content: "";
  background: inherit;
  position: relative;
  margin-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.459);
  z-index: 1000;
  border-right: 1px solid rgba(0, 0, 0, 0.459);

  top: -25px;
  right: 14px;
  width: 10px;
  height: 10px;
  rotate: -45deg;
  position: absolute;
  margin-left: auto;
}

.daysOfWeekCont {
  min-width: 45%;
  display: flex;
  font-weight: 500;
  height: auto;
}

.formInputAppDuration select {
  width: fit-content;
  /* min-width: 100px; */
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  font-size: 13px;
  height: 22px;
  background-color: rgb(245, 245, 245);
  border: 1px solid rgba(95, 95, 95, 0.267);
  padding: 0 5px;
  -webkit-border-radius: 7px;
}

.daysOfWeekCont button:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.daysOfWeekCont button:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.dayOfWeek {
  height: 100%;
  flex: 1;
  background-color: white;
  color: black;
  outline: 1px solid rgba(0, 0, 0, 0.16);
  font-size: 13px;
  box-sizing: border-box;
  padding: 10px;
  line-height: normal;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.dayOfWeekSelected {
  background-color: #dd4924;
  color: white;
  outline: 1px solid #dd4924;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 2.7em;
  height: 1.5em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(182, 182, 182);
  transition: 0.4s;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 0.9em;
  width: 0.9em;
  border-radius: 8px;
  left: 0.3em;
  bottom: 0.3em;
  transform: rotate(270deg);
  background-color: rgb(255, 255, 255);
  transition: 0.4s;
}

.switch input:checked + .slider {
  background-color: #dd4924;
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

.switch input:checked + .slider:before {
  transform: translateX(1.1em);
  -webkit-transform: translateX(1.1em);
  -moz-transform: translateX(1.1em);
  -ms-transform: translateX(1.1em);
  -o-transform: translateX(1.1em);
}

@media (max-width: 1024px) {
  .calendarContainer {
    width: 90vw;
  }
}

@media (max-width: 768px) {
  .calendarComponentSchedule {
    margin: 0 10px;
  }

  .daysOfWeekCont {
    width: 100%;
    margin: 0 0 15px 0;
  }
  .calendarContainer {
    width: 100vw;
    box-shadow: none;
    -webkit-box-shadow: none;
  }
  .calendarComponent {
    width: 100vw !important;
    height: 65vh !important;
  }
  .scheduleCalendarComponent {
    width: 100vw !important;
    height: 60vh !important;
  }
  .formInputAppDuration select {
    width: fit-content;
    /* min-width: 100px; */
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    font-size: 12px;
    height: 22px;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgba(95, 95, 95, 0.267);
    padding: 0 10px;
    -webkit-border-radius: 7px;
  }
}
